@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", monospace;
}

.form-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.component-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.welcome-message {
  padding: 20px;
}

.navbar-nav {
  padding-left: 20px !important;
}

.logo {
  color: #4d4d4d;
}

.banner-image {
  width: 80%;
}

.logout {
  cursor: pointer;
}

/* Styling for Google SSO button */
.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

/* Button across website */
.l2e-btn,
.l2e-btn:hover {
  width: 208px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid white;
  color: #000;
  font-size: 16px;
}

/* Page */
.page {
  margin: 3rem;
}

.page-title {
  font-size: 26px;
}

/* Course card and page */
.course-card {
  border-radius: 10px;
  max-width: 600px;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}

.course-card span {
  display: block;
  color: rgba(0, 0, 0, 0.34);
}

.course-card .course-name {
  font-weight: bold;
  padding-top: 10px;
}

.home-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.home-heading .l2e-btn {
  border: 1px solid black;
}

.course-btn,
.course-btn:hover {
  height: 50px;
}

/* Create course page */
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 28px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-size: 28px;
}

/* Course Page */
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: green;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: green;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: green;
}

/* Certificate page */
.certificate-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate-div {
  position: relative;
}

.certificate-name {
  position: absolute;
  top: 410px;
  left: 118px;
  font-size: 36px;
  font-weight: bold;
}

.claim-btn {
  height: 62px;
  width: 208px;
  background-color: #18b2f4;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.claim-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
  margin: 20px;
}

.claim-row input {
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
}
