@import "~antd/dist/antd.css";

.form-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.component-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.welcome-message {
  padding: 20px;
}

.navbar-nav {
  padding-left: 20px !important;
}

.logo {
  color: #4d4d4d;
}

.banner-image {
  width: 80%;
}

.logout {
  cursor: pointer;
}

/* Styling for Google SSO button */
.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

/* Page */
.page {
  margin: 3rem;
}

.page-title {
  font-size: 26px;
}

/* Course card */
.course-card {
  background: #e5e5e5;
  border-radius: 10px;
  max-width: 600px;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}

.course-card span {
  display: block;
}

.course-card .course-name {
  font-weight: bold;
  padding-top: 10px;
}

/* Create course page */
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 28px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-size: 28px;
}
